@form-prefix-cls: ~'ci-form';
@form-item-prefix-cls:'@{form-prefix-cls}-item';


.@{form-prefix-cls}{
  .reset();

  display: flex;
  flex-direction: column;
  // align-items: center;
  // gap:20px;
  // ================================================================
  // =                             size                             =
  // ================================================================

  .formSize(@input-height) {
    .@{form-item-prefix-cls}-label > label {
      height: @input-height;
    }

    .@{form-item-prefix-cls}-control-input {
      min-height: @input-height;
    }
  }

  &-small {
    .formSize(@font-size-sm);
  }

  &-large {
    .formSize(@font-size-lg);
  }



  // ================================================================
  // =                             layout                           =
  // ================================================================
  &-horizontal{
    .@{form-item-prefix-cls}-label {
      flex-grow: 0;
    }
    .@{form-item-prefix-cls}-control {
      flex: 1 1 0;
      min-width: 0;
    }
    .@{form-item-prefix-cls}-label[class$='-24'] + .@{form-item-prefix-cls}-control,
    .@{form-item-prefix-cls}-label[class*='-24 '] + .@{form-item-prefix-cls}-control {
      min-width: unset;
    }
  }

  // ================================================================
  // =                             item                             =
  // ================================================================
  &-item{
    display: flex;
    align-items: center;
    // justify-content: center;

    &-content{
      flex:1;
      display: flex;
      justify-content: center;
    }

    &-label{
      display: inline-block;
      margin-right: .5em;
    }
  }
  // ================================================================
  // =                             status                           =
  // ================================================================
  &-required{
    color:@danger
  }
}

.reset{
    margin: 0;
    padding:0;
    line-height:inherit;
    vertical-align: middle;
    color:inherit;
    background-color: transparent;
    box-shadow: none;
    appearance: none;
    border:0;
    outline:0;
    border-radius:0;
    resize: none;
}

.ci-error-list{
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  color:@danger;
  transition: all .5s;
}