.totalMark {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 45%);

    .mark {
        position: absolute;
        background-color: white;
        width: 30vw;
        height: 100vh;
    }
}