@import './mixins.less';

.switch {
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 20px;
  background: @blue;
  border-radius: 10px;
  padding: 2px;
  line-height: 16px;
  cursor: pointer;
}

.circle {
  box-sizing: border-box;
  display: inline-block;
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 8px;
  margin-left: 30px;
  transition: all 0.3s;
}
