.input_basic {
    border-radius: 7px;
    outline: none;
    width: 30vw;
    display: block;

    &::placeholder {
        font-size: 16px;
        padding-left: 10px;
    }
}

// 输入框的尺寸

.small {
    height: 24px;
}

.default {
    height: 32px;
}

.large {
    height: 40px;
}

// status的改变

.error {
    border: 1px solid #FF4D4F;

    &:hover {
        border: 1px solid #FF4D4F;
    }
}

.warning {
    border: 1px solid #FAAD14;

    &:hover {
        border: 1px solid #FAAD14;
    }
}

.normal {
    border: 1px solid rgb(217, 217, 217);

    &:hover {
        border: 1px solid rgb(64, 150, 255);
    }
}

// 无边框

.noBorderd {
    border: none;

    &:hover {
        border: none;
    }
}